@import "tailwindcss";

@theme inline {
  /* Cores */
  --color-background: #FAF9F5;
  --color-surface: #F0EEE6;
  --color-border: #E8E6DC;

  --color-text: #141413;
  --color-muted: #87867F;

  --color-primary: #1C2B3A;
  --color-primary-hover: #263d54;
  --color-accent: #7C5C3E;
  --color-accent-hover: #9a7050;

  /* Tipografia */
  --font-heading: var(--font-playfair);
  --font-body: var(--font-inter);
}

body {
  background-color: #FAF9F5;
  color: #141413;
  font-family: var(--font-inter), Georgia, serif;
}
